*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
     outline: 5px solid gold;
} */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.container{
    width: 75%;
    margin: auto;
    /* border: 2px solid blue; */
    /* max-width: 1200px; */
}
.btn{
     background-image: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)); 
     color: #FFFFFF;
}
.common-header{
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}
/* nav style started */
header{
    background-color: #1A0B2E;
    /* border: 2px solid red; */
    padding: 30px 0;
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul a{
    text-decoration: none;
}
nav h2{
    font-size: 2rem;
    color: #FFFFFF;
    
}
.nav-header{
    /* background-image: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));  */
     background-image: linear-gradient(to bottom, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)); 
     background-clip: text;
    -webkit-background-clip: text;
     color: transparent;
    -webkit-text-fill-color: transparent;

    
}
nav ul a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
nav .nav-button{
    padding: 12px 16px;
    /* border-radius: 15px; */
    border-radius: 10000px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
}

/* hero part start */
#banner{
    background-image: url("../assets/hero-bg.png");
    background-size: contain;
    background-position: center;
    padding: 101px;
    background-color: #1A0B2E;
    
}
.banner-container{
    /* border: 2px solid blue; */
     position: relative;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    background: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 69px;
}
.banner-container img{
    margin: auto auto;
    max-width: 200px;
    margin-bottom: 121px;
}
.banner-container h1{
    font-size: 3.75rem;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.banner-container p{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 24px;
}
.badge {
    position: absolute;
    top: 20px;
    right: 140px;
    background: #00FFC2; 
    color: #000;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 194, 0.6);
}
.spotify-btn{
    padding: 12px 21px;
    border-radius: 10000px;
    margin-right: 8px;
}
.email-btn{
    padding: 12px 20px;
    border-radius: 10000px;
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}

/* podcast section start */
#podcast{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}
#podcast .podcast-content{
    color: white;
    text-align: center;
}
#podcast .podcast-content h2{
    font-size: 3rem;
    margin-bottom: 16px;
}
.podcast-para{
    margin-bottom: 20px;
    line-height: 20px;
}
hr{
    margin: 80px 0;
    border: 1px solid #ffffff52;
    
}
.podcast-card-container{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.potcast-card h3{
    font-size: 3rem;
    margin-bottom: 16px;
    color: #00FF88;
}
/* why choose techwave part start */
#choose-techwave{
    background-color: #230E3D;
    padding-top: 120px;
    color: white;
}
.techwave-header{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}
.tech-container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 30px;
}

.tech-card-2{
    grid-column: span 5;
  
}
.tech-card-3{
    grid-column: span 5;
  
}
.tech-card-4{
    grid-column: span 5;
  
}
.tech-card-5{
    grid-column: span 3;
  
}


.tech-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
.tech-card-1{
    grid-column: span 3;
    grid-row: span 2;
    /* padding-top: 600px; */
    padding-top: 100px;
}
.tech-card img,h3{
    margin-bottom: 16px;
}

/* Featured Episode start */
#featured-epsiodes{
    background-color: #1A0B2E;
    padding-top: 120px;
}
.featured-container{
    color: #FFFFFF;
}
.episode-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.episode-card{
     text-align: center;
      /* background-color: #250D44; */
}
.episode-card-content{
   background-color: #250D44;
   /* border: 2px solid red; */
   margin-bottom: 120px;
   height: 200px;
   border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.clock-timer{
    display: flex; 
    gap: 6px; 
    margin-left: 40px;
    /* border: 2px solid red; */
    /* align-items: center; */
}
.clock-timer img{
    width: 20px;
    height: 20px;
}
iframe{
    border-radius: 10px;
   
}
.episode-card h3{
    font-size: 1.5rem;
    margin-bottom: 12px;
    font-weight: bold;
}
.episode-card p{
    margin-bottom: 12px;
}

/* common host part */
#host-section{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.host-container-stuff{
    color: #FFFFFF;
    background-color: rgba(53, 17, 101, 0.4);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding: 40px;
    gap: 30px;
    /* place-items: center; */
    border-radius: 50px;
}
.host-img{
    grid-column: span 1;
}
.host-contents{
    grid-column: span 7;
}
.host-contents h3{
    font-size: 2rem;
    margin-bottom: 16px;
}
.host-contents p{
    line-height: 24px;
    margin-bottom: 16px;
    
    
}
.social-link-container{
    max-width: 184px;
    display: flex;
    gap: 8px;
    /* border: 2px solid blue; */
    align-items: center;
}
.social-link-container .social-link-border{
    border-radius:50%;
    border: 1px solid #533C72;
}
/* footer part start */

footer{
    padding: 120px 0;
    background-image: url("../assets/footer-bg.png");
    background-position: center;
    background-size: cover;
    min-height: 412px;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    color: white;
}
.footer-container{
    /* border: 2px solid green; */
    text-align: center;
}
.footer-container h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 32px;
}

.footer-logo-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid blue; */
    /* max-width: 544px; */
    max-width: 700px;
    place-items: center;
    text-align: center;
    margin: 0 auto 32px;
}

/* media query */
@media screen and (max-width:576px){

   #navbar{
        width: 100%;
        border: none;
        justify-content: space-around;
        
   }

    /* show hamburger */
    .hamburger {
        display: block;
    }

   nav ul,
   .nav-button {
        display: none;
    }

    #banner{
         background-image: url("../assets/hero-bg.png");
         background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 20px;
        background-color: #1A0B2E;
        /* border: 2px solid red; */
    }

    .banner-container{
    /* border: 2px solid blue; */
        /* max-width: 550px; */
        /* width: 100%; */
        /* width: 300px; */
        max-width: 300px;
        /* border: 2px solid blue; */
        
        /* margin: 0 auto; */
        text-align: center;
        background: url("../assets/hero-circle.png");
        background-repeat: no-repeat;
        background-position: top;
        /* background-size: 300px 300px; */
        background-size: min(300px, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 69px;
    }
    .banner-container img{
        max-width: 80px;
    }

    .badge{
        right: 30px
    }

    /* podcast part */

    

    .podcast-card-container{
        grid-template-columns: repeat(2,1fr);
    }

    .potcast-card h3{
        font-size: 2rem;
    }

    /* tech part */
    .tech-container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }
    .tech-card-1{
        padding-top: 40px;
        grid-column: span 5;
        grid-row: span 2;
    }
    .tech-card-5{
        padding-top: 40px;
        grid-column: span 5;
        
    }

    /* episode part */
    .episode-container{
        grid-template-columns: repeat(1,1fr);
    }

    .episode-card-content{
        background-color: #250D44;
        /* border: 2px solid red; */
        /* margin-bottom: 120px; */
        height: 200px;
        
    }   
    iframe{
        width:300px;
        height: 200px;
    }

    /* host part */
    .host-container{
        width: 80%;
        
    }
    .host-container-stuff{
        grid-template-columns: repeat(1,1fr);
       place-items: center;
       text-align: center;
    }

    .host-img, 
    .host-contents {
       
        grid-column: span 1; 
    }

    .social-link-container{
        max-width: none;
        justify-content: space-between;
    }

    /* footer part */
    .footer-logo-container{
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
    }
   
}